/*=======================*/
/*General Part START*/
/*=======================*/

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

/*-------------------------------section1-------------------------------*/

.navbar {
  background-color: #303030;
}
.navbar .parents .search-bar a {
  color: #ffffff;
}
.navbar .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400px;
  margin-right: 20px;
}

/*-------------------------------section2-------------------------------*/
.section2 {
  background-color: #e8631c;
  height: 500px;
}
/*=======================*/
/*General Part END*/
/*=======================*/

/*=================================================================*/
/*----------------------Media query start--------------------------*/
/*=================================================================*/

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##Ipad Air width 820px, Ipad mini 768px width
*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 320px) and (max-width: 767px) {
  /* ------section1-------- */
  .navbar .parents {
    display: flex;
  }
  .navbar .navbar-collapse {
    order: 3;
  }
  .navbar .navbar-toggler {
    order: 2;
    background-color: #ffffff;
  }
  .navbar .search-bar {
    order: 1;
    margin-left: auto;
    margin-right: 10px;
  }
}

/*=================================================================*/
/*----------------------Media query End----------------------------*/
/*=================================================================*/
